<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/heros/create}" th:method="post" th:object="${hero}">
    <div>
        Name <input type="text" th:field="*{name}">
        <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div>
        Description <input type="text" th:field="*{description}">
        <span class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>
    <div>
        Thumbnail <input type="text" th:field="*{thumbnail}">
    </div>
    <div>
        <input type="submit" value="Submit">
        <input type="reset" value="Reset">
    </div>
</form>
</body>
</html>