<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        img.hero-thumbnail {
            width: 100px;
        }
    </style>
</head>
<body>
<h1>Heroes</h1>
<ul>
    <li th:each="hero: ${heros}">
        <span th:text="${hero.name}"></span>
        <img class="hero-thumbnail" th:src="${hero.thumbnail}" th:alt="${hero.name}">
        <a th:href="@{'/heros/edit/' + ${hero.id}}">Edit</a>
        <a th:href="@{'/heros/delete/' + ${hero.id}}" onclick="return confirm('Are you sure?')">Delete</a>
    </li>
</ul>
<form th:action="@{/logout}">
    <input type="submit" value="Sign Out"/>
</form>
</body>
</html>